* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Lato;
    justify-content: center;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 100px);
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #17171E;
}

header {
    grid-column: 1/ span 12;
    grid-row: 1/span 1;
    background-color: #17171E;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 2px black;
}


header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #FF66C4, #FFDE59);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

main {
    grid-column: 3/ span 8;
    grid-row: 2/span 7;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    color: white;
    padding: 5px;
    background: linear-gradient(45deg, #FF66C4, #FFDE59); /* Gradient border */
    border-radius: 25px; /* Curved border */
    box-shadow: 5p 5px 5px #17171E;
}

.background {
    background-color: #17171E; /* Background of the inner content */
    border-radius: 20px; /* Curved corners for content */
    height: 100%;
}

.game-title h2 {
    font-size: 2.5rem;
    margin-bottom: 80px;
}


.scores {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.right, 
.wrong {
    width: 100px;
}

.right h4,
.wrong h4 {
    text-decoration: underline;
}

.game-stage h3 {
    font-size: 1.5rem;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.game-stage h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 100px;
    background: linear-gradient(45deg, #08B3D1, #7EFF47);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.user-answer {
    display: flex;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.user-interact input {
    width: 350px;
    height: 30px;
    box-shadow: 0 0 1px black;
    border: 1px solid grey;
    margin-right: 10px;
}

.user-interact button {
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
}

#submit {
    width: 80px;
    height: 30px;
    transition: background-image 0.3s ease;
    background: linear-gradient(45deg, #FF66C4, #FFDE59);
}

#submit:hover {
    background-image: linear-gradient(45deg, #FFDE59, #FF66C4); /* Reverse gradient on hover */
    border: 2px solid rgb(0, 0, 0);
}

#new-game {
    width: 100px;
    height: 40px;
    transition: background-image 0.3s ease;
    background: linear-gradient(45deg, #681DFD, #FF914D);
}

#new-game:hover {
    background-image: linear-gradient(45deg, #FF914D, #681DFD);
}

footer {
    grid-column: 1/ span 12;
    grid-row: 10/span 1;
    background-color: #17171E;
    display: flex;
    align-items: end;
    box-shadow: .5px .5px 2px black;
}

.rights {
    display: flex;
    width: 100%;
    height: 25%;
    margin: 0;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0);
}

.rights h6 {
    font-size: .7rem;
    margin:0;
    color: white;
}